.ext-strict .ext-ie6 .x-layout-split {
	BACKGROUND-COLOR: #dfe8f6
}
.add {
	BACKGROUND-IMAGE: url(../img/icon/add.gif)! important
}
.delete {
	BACKGROUND-IMAGE: url(../img/icon/delete.gif)! important
}
.remove {
	BACKGROUND-IMAGE: url(../img/icon/delete.gif)! important
}
.upgrade {
	BACKGROUND-IMAGE: url(../img/icon/upgrade.gif)! important
}

.help {
	BACKGROUND-IMAGE: url(../img/icon/help.png)! important
}
.refresh {
	BACKGROUND-IMAGE: url(../js/ext/resources/images/default/grid/refresh.gif)! important
}
.bjgl {
	BACKGROUND-IMAGE: url(../img/icon/bjgl.png)! important
}
.jlsb {
	BACKGROUND-IMAGE: url(../img/icon/jlsb.png)! important
}
.pzgl {
	BACKGROUND-IMAGE: url(../img/icon/pzgl.png)! important
}
.sjgl {
	BACKGROUND-IMAGE: url(../img/icon/sjgl.png)! important
}
.tjbb {
	BACKGROUND-IMAGE: url(../img/icon/tjbb.png)! important
}
.user {
	BACKGROUND-IMAGE: url(../img/icon/user.png)! important
}
.yxjg {
	BACKGROUND-IMAGE: url(../img/icon/yxjg.png)! important
}
.yygl {
	BACKGROUND-IMAGE: url(../img/icon/yygl.png)! important
}
.ptgl {
	BACKGROUND-IMAGE: url(../img/icon/ptgl.png)! important
}
.xtgl {
	BACKGROUND-IMAGE: url(../img/icon/xtgl.png)! important
}
.sjygl {
	BACKGROUND-IMAGE: url(../img/icon/sjygl.png)! important
}
.wlgl {
	BACKGROUND-IMAGE: url(../img/icon/wlgl.png)! important
}